@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400;700&family=Noto+Serif:wght@400;700&family=Open+Sans&display=swap");

:root {
  font-size: 12px;
  line-height: 2.5rem;
}

body {
  background: rgb(243, 243, 243);
  background-color: #fefefe;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}
.App {
  text-align: center;
  font-family: "Noto Serif", sans-serif;
  color: rgb(36, 36, 36);
}

.site-header {
  background-color: #282a36;
  height: 55px;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nameSpan {
  color: #bd93f9;
}

.header-logo {
  width: 150px;
  height: auto;
  border-radius: 100%;
  border: 3px solid #b28ce9;
  margin-top: 75px;
  box-shadow: 0px 2px 4px 0px rgb(0, 0, 0, 0.14);
}

.modal a {
  text-decoration: none;
  color: #282a36;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
  font-weight: 500;
}

.modal a:hover {
  color: #da67a8;
  transform: scale(1.05);
}

.modal a:last-child {
  margin-right: 18px;
  margin-left: auto;
}

.modal nav a {
  margin-left: 1em;
}

.modalContent {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.project-info {
  margin-top: 50px;
  padding: 18px;
  font-size: 14px;
}

.front-page-content {
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin: 80px auto;
  width: 80%;
}

.card-link {
  margin: 1em;
  text-decoration: none;
}

.social-link-ul {
  list-style-type: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-right: 60px;
}

.social-link-ul li {
  display: inline;
  margin-left: 1em;
}

.social-link-ul li:nth-child(2) img {
  height: 20px;
  transition: 0.2s ease-in-out;
}
.social-link-ul li:nth-child(2) img {
  height: 20px;
  transition: 0.2s ease-in-out;
}
.social-link-ul li:nth-child(2) img:hover {
  height: 20px;
  padding-bottom: 3px;
}

.logo-link {
  height: 30px;
  transition: 0.2s ease-in-out;
}

.logo-link:hover {
  border-bottom: 3px solid #ff71e0;
  transform: translateY(-5px);
}

.techUsed {
  text-align: center;
  margin: 0 auto;
}
#back-btn {
  border: none;
  color: #fefefe;
  background: #3c2d50;
  box-shadow: 0 4px 6px rgba(100, 100, 100, 0.2);
  position: fixed;
  bottom: 2em;
  right: 2em;
  padding: 1em 2em;
  cursor: pointer;
}

/* iPhone X */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {
  .modal {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  video {
    width: 100%;
  }
}

@media only screen and (max-width: 950px) {
  .project-card {
    width: 100%;
  }
}
/* iPhone 6, 7, 8 */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .modal {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  video {
    width: 100%;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .modal {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  video {
    width: 100%;
  }
}
